.header {
  z-index: 1;
  position: relative;

  @include measure(0, 0, 100%, auto);

  .modalHide {
    display: none;
  }

  .modal {
    z-index: 2;
    position: fixed;
    right: 25%;

    @include flex(column, center, center, nowrap);

    @include measure(20px, 0, 644px, 100vh);
    border: 1px solid black;

    border-radius: 30px;

    background-color: $secondaryBackgroundColor;

    .signUpContent {
      @include flex(column, space-around, center, nowrap);

      @include measure(0, 0, 100%, 666px);

      .containerContext {
        @include flex(column, flex-end, center, nowrap);

        @include measure(0, 0, 340px, 84px);

        & h3 {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 36px;

          @extend %colorGradient;
        }

        & p {
          @extend %p;
        }
      }

      .formContent {
        @include flex(column, center, center, nowrap);

        @include measure(0, 0, 350px, 345px);

        .formData {
          @include flex(column, space-around, center, nowrap);

          @include measure(0, 0, 100%, auto);

          & label {
            & input {
              @include measure(0 0 0 8px, 10px 0, 347px, 60px);

              @extend %miniPLite;

              border-radius: 5px;
            }

            & a {
              align-self: flex-end;

              text-decoration: none;

              & span {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 20px;

                color: #2f2f2f;
              }
            }
          }

          & button {
            @include measure(10px 0, 0, 157px, 54px);

            color: $secondaryColor;
            @extend %btnMultiColor;
          }
        }
      }
    }

    .loginContent {
      @include flex(column, center, center, nowrap);

      @include measure(0, 0, 100%, 583px);

      .containerContext {
        @include flex(column, flex-end, center, nowrap);

        @include measure(0, 0, 340px, 84px);

        & h3 {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 36px;

          @extend %colorGradient;
        }

        & p {
          @extend %p;
        }
      }

      .formContent {
        @include flex(column, center, center, nowrap);

        @include measure(0, 0, 350px, 345px);

        .formData {
          @include flex(column, space-around, center, nowrap);

          @include measure(0, 0, 100%, 100%);

          & label {
            & input {
              @include measure(0 0 0 8px, 0, 347px, 60px);

              @extend %miniPLite;

              border-radius: 5px;
            }

            & a {
              align-self: flex-end;

              text-decoration: none;

              & span {
                font-size: 1.2rem;
                font-weight: 400;
                line-height: 20px;

                color: #2f2f2f;
              }
            }
          }

          & button {
            @include measure(0, 0, 157px, 54px);

            color: $secondaryColor;
            @extend %btnMultiColor;
          }
        }
      }
    }

    .signUpContent,
    .loginContent {
      .windowClose {
        position: absolute;
        top: 3%;
        right: 5%;

        & span {
          @extend %title;
        }
      }
    }
  }

  & nav {
    @include flex(row, space-around, center, nowrap);

    @include measure(30px, 0, auto, auto);

    & figure {
      @include measure(0, 0, 142px, 29px);

      & img {
        @include measure(0, 0, 100%, 100%);
      }
    }

    .navList {
      @include flex(row, space-evenly, center, nowrap);

      @include measure(0, 0, 426px, 26px);

      list-style: none;

      .navItemList {
        @extend %miniP;

        & a {
          color: $primaryColor;

          @extend %a;
        }
      }
    }

    .containerDropdown {
      @include flex(row, center, center, nowrap);

      & select {
        @include measure(0, 0 10px 0 0, auto, auto);

        border: none;

        @extend %miniP;

        background: none;
      }

      .btnLogin {
        @extend %miniP;

        color: $secondaryColor;
        @extend %btnMultiColor;
      }
    }
  }

  .hero {
    position: relative;
    @include flex(row, space-around, center, nowrap);

    @include measure(30px, 0, 100%, 750px);

    background: linear-gradient(174.48deg, #fd749b -12.41%, #281ac8 88.56%);

    .containerContext {
      & h1 {
        @include measure(0, 0 0 15px 0, 529px, 180px);

        @extend %maxTitle;
        color: $secondaryColor;
      }
      & p {
        @include measure(0, 0, 529px, auto);

        font-weight: 400;
        font-size: 18px;
        line-height: 27px;

        color: $secondaryColor;
      }
      .btn {
        @include flex(row, center, center, nowrap);

        @include measure(0, 15px 0 0 0, 157px, 54px);

        border-radius: 100px;
        background-color: $secondaryBackgroundColor;

        & a {
          @extend %miniP;

          @extend %a;
          @extend %colorGradient;
        }
      }
    }

    & figure {
      @include measure(0, 0, 628px, 519px);

      & img {
        @include measure(0, 0, 100%, 100%);
      }
    }

    .wave {
      position: absolute;
      bottom: 0px;

      @include measure(0, 0, 100%, 237.31px);
    }
  }

  .heroOpacity {
    opacity: 0.3;
  }
}
